.card-projet {
    width: 380px;
    height: auto;
    text-decoration-line: none;
    position: relative;
    .conteneur-card-projet {
        width: 100%;
        max-width: 380px;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0px 0px 3px black;
        padding: 0px 15px 30px 15px;
        border-radius: 10px;
        background-color: rgb(247, 247, 247);
        -webkit-transition : all 0.3s ease;
        transition : all 0.3s ease;
        .img-cover {
            width: 100%;
            height: 250px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 0px black;
        }
        .ligne {
            width: 20%;
            height: 6px;
            background-color: black;
            align-self: flex-start;
            margin-bottom: 10px;
            border-radius: 0px;
        }
        p {
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 300;
            align-self: flex-start;
            margin-bottom: 20px;
            &:nth-child(2) {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 0px;
            }
        }
        .technos {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            i {
                color: black;
                font-size: 20px;
            }
            img {
                width: 20px;
                height: 20px;
            }
            p {
                color: rgb(0, 0, 0);
                font-size: 18px;
                font-weight: 500;
                align-self: flex-start;
                text-transform: uppercase;
            }
            .techno {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                border: 2px solid black;
                border-radius: 999px;
                padding: 5px 15px;
            }
        }
        &:hover {
            -webkit-transform : scale(1.1);
            transform : scale(1.1);
            box-shadow: 0px 0px 15px black;
        }
    }
    .txt-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.466);
        display: none;
        -webkit-transition : all 0.3s ease;
        transition : all 0.3s ease;
        p {
            display: block;
            background-color: rgb(166, 0, 255);
            padding: 5px 10px;
            border-radius: 7px;
            border: 2px solid rgb(111, 0, 171);
            font-family: "Geologica", serif;
            &:hover {
                background-color: rgb(0, 185, 83);
                border: 2px solid rgb(0, 94, 42);
            }
        }
    }
    &:hover .conteneur-card-projet {
        -webkit-transform : scale(1.1);
        transform : scale(1.1);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.603);
        display: flex;
    }
    &:hover .txt-hover {
        -webkit-transform : scale(1.1);
        transform : scale(1.1);
        display: flex;
        border-radius: 10px;
        width: 100%;
        height: 100%;
    }

    @media (max-width: 725px) {
        width: 280px;
        .conteneur-card-projet {
            width: 100%;
            max-width: 280px;
            gap: 5px;
            box-shadow: 0px 0px 1px black;
            padding: 0px 5px 15px 5px;
            border-radius: 7px;
            .img-cover {
                height: 150px;
                margin-bottom: 5px;
            }
            .ligne {
                width: 15%;
                height: 3px;
                margin-bottom: 5px;
            }
            p {
                font-size: 12px;
                margin-bottom: 10px;
                &:nth-child(2) {
                    font-size: 15px;
                }
            }
            .technos {
                gap: 7px;
                i {
                    font-size: 12px;
                }
                img {
                    width: 12px;
                    height: 12px;
                }
                p {
                    font-size: 10px;
                }
                .techno {
                    gap: 5px;
                    border: 1px solid black;
                    padding: 2px 7px;
                }
            }
            &:hover {
                box-shadow: 0px 0px 8px black;
            }
        }
        .txt-hover {
            font-size: 10px;
            p {
                padding: 2px 7px;
                border-radius: 4px;
                border: 1px solid rgb(111, 0, 171);
                &:hover {
                    border: 1px solid rgb(0, 94, 42);
                }
            }
        }
        &:hover .conteneur-card-projet {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.603);
        }
        &:hover .txt-hover {
            border-radius: 7px;
        }
    }
}