footer {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px 30px;
    padding: 0px 0px 70px 0px;
    .svg-curve {
        fill: none;
        width: 100%;
        display: block;
        path {
            fill: rgba(222, 222, 222);
        }
    }
    .contact-reseaux {
        @include flexCenter;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        a {
            display: block;
            border: 2px solid white;
            padding: 10px;
            border-radius: 999px;
            &:hover {
                background: rgba(143, 111, 255, 0.712);
                border-color: rgba(143, 111, 255, 0.712);
            }
            i {
                font-size: 25px;
                color: rgba(255, 255, 255, 0.829);
            }
            img {
                @include flexCenter;
                width: 23px;
                height: 23px;
            }
        }
    }
    p {
        color: rgba(255, 255, 255, 0.829);
        font-size: 18px;
    }
}