.projet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #d4d2d2c0;
    padding: 0px 20px;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 20px;
        align-self: flex-start;
        color: rgba(69, 12, 143, 0.788);
        i {
            margin-right: 15px;
            font-size: 30px;
        }
    }
    .infos-projets {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        gap: 30px;
        .description {
            width: 100%;
            height: auto;
            background-color: white;
            box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.288);
            border-radius: 10px;
            padding: 20px 30px 40px 30px;
            p {
                font-size: 20px;
                text-align: justify;
                font-weight: 360;
                color: rgba(69, 12, 143, 0.788);
                line-height: 35px;
            }
        }
        .date-et-github {
            width: 100%;
            max-width: 500px;
            height: auto;
            background-color: white;
            box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.288);
            border-radius: 10px;
            padding: 20px 30px 40px 30px;
            p {
                font-size: 20px;
                font-weight: 300;
                color: rgba(69, 12, 143, 0.788);
                line-height: 35px;
                span {
                    font-weight: 850;
                }
                a {
                    color: rgba(69, 12, 143, 0.788);
                    &:hover {
                        color: rgb(194, 50, 182);
                    }
                }
            }
        }
        h2 {
            font-size: 25px;
            color: rgb(92, 53, 151);
            font-weight: 600;
            margin-bottom: 10px;
        }
        .ligne {
            height: 4px;
            width: 70px;
            background: rgba(69, 12, 143, 0.788);;
            margin-bottom: 20px;
            border-radius: 999px;
        }
    }
}