.projets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    .svg-curve {
        fill: none;
        width: 100%;
        display: block;
        path {
            fill: #d4d2d2c0;
        }
        &:nth-child(3) {
            path {
                fill: #d4d2d2c0;
            }
        }
    }
    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .ligne {
        height: 4px;
        width: 70px;
        background: #000;
        margin-bottom: 60px;
        border-radius: 999px;
    }
    .liste-projets {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0px 30px;
    }
    
    @media (max-width: 725px) {
        h2 {
            font-size: 25px;
            margin-bottom: 15px;
        }
        .ligne {
            height: 2px;
            width: 45px;
            margin-bottom: 30px;
        }
        .liste-projets {
            gap: 25px;
            padding: 0px 15px;
        }
    }
}

.visible-projets {
    opacity: 1;
}
.txt-title-projets.visible-projets, .ligne-projets.visible-projets {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.txt-title-projets, .ligne-projets {
    opacity: 0;
    transform: translateY(30px);
}

.txt-title-projets.visible-projets {
    transition-delay: 0.5s;
}

.ligne.visible-projets {
    transition-delay: 1s;
}