.projet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #d4d2d2c0;
    padding: 0px 20px;
    opacity: 0;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 20px;
        font-size: 20px;
        align-self: flex-start;
        color: rgba(69, 12, 143, 0.788);
        i {
            margin-right: 15px;
            font-size: 30px;
        }
    }
    .infos-projets {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        gap: 30px;
        .description {
            width: 100%;
            height: auto;
            background-color: white;
            box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.288);
            border-radius: 10px;
            padding: 20px 30px 40px 30px;
            p {
                font-size: 20px;
                text-align: justify;
                font-weight: 360;
                color: rgba(69, 12, 143, 0.788);
                line-height: 35px;
            }
        }
        .date-et-github {
            width: 100%;
            max-width: 500px;
            height: auto;
            background-color: white;
            box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.288);
            border-radius: 10px;
            padding: 20px 30px 40px 30px;
            p {
                font-size: 20px;
                font-weight: 300;
                color: rgba(69, 12, 143, 0.788);
                line-height: 35px;
                span {
                    font-weight: 850;
                }
                a {
                    color: rgba(69, 12, 143, 0.788);
                    &:hover {
                        color: rgb(194, 50, 182);
                    }
                }
            }
        }
        h2 {
            font-size: 25px;
            color: rgb(92, 53, 151);
            font-weight: 600;
            margin-bottom: 10px;
        }
        .ligne {
            height: 4px;
            width: 70px;
            background: rgba(69, 12, 143, 0.788);;
            margin-bottom: 20px;
            border-radius: 999px;
        }
    }

    @media (max-width: 970px) {
        padding: 0px 12px;
        h1 {
            margin-top: 75px;
            margin-bottom: 15px;
            font-size: 15px;
            i {
                margin-right: 10px;
                font-size: 25px;
            }
        }
        .infos-projets {
            padding: 12px 30px;
            gap: 20px;
            .description {
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.288);
                border-radius: 7px;
                padding: 10px 10px 20px 20px;
                p {
                    font-size: 13px;
                    line-height: 25px;
                }
            }
            .date-et-github {
                max-width: 300px;
                box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.288);
                border-radius: 7px;
                padding: 10px 10px 20px 20px;
                p {
                    font-size: 13px;
                    line-height: 25px;
                }
            }
            h2 {
                font-size: 16px;
                margin-bottom: 8px;
            }
            .ligne {
                height: 2px;
                width: 40px;
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width: 525px) {
        padding: 0px 6px;
        h1 {
            margin-top: 37px;
            margin-bottom: 8px;
            font-size: 10px;
            i {
                margin-right: 7px;
                font-size: 17px;
            }
        }
        .infos-projets {
            padding: 4px 10px;
            gap: 5px;
            .description {
                border-radius: 4px;
                padding: 5px 3px 5px 3px;
                p {
                    font-size: 7px;
                    line-height: 14px;
                }
            }
            .date-et-github {
                max-width: 150px;
                border-radius: 4px;
                padding: 5px 3px 5px 3px;
                p {
                    font-size: 7px;
                    line-height: 14px;
                }
            }
            h2 {
                font-size: 10px;
                margin-bottom: 3px;
            }
            .ligne {
                height: 1px;
                width: 30px;
                margin-bottom: 7px;
            }
            .ligne.visible-projet {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}

.visible-projet {
    opacity: 1;
}

.title-projet.visible-projet, .date-et-github.visible-projet, .description.visible-projet {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1.5s cubic-bezier(0.5, 0, 0, 1);
}

.title-projet {
    opacity: 0;
    transform: translateY(30px);
}

.date-et-github {
    opacity: 0;
    transform: translateX(-10px);
}

.description {
    opacity: 0;
    transform: translateX(10px);
}

