.competences {
    width: 100%;
    height: auto;
    background-color: #d4d2d2c0;
    @include flexCenter;
    flex-direction: column;
    margin-top: -1px;
    opacity: 0;
    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 7000;
        color: rgba(69, 12, 143, 0.788);
    }
    .ligne {
        height: 4px;
        width: 70px;
        background: rgba(69, 12, 143, 0.788);
        margin-bottom: 60px;
        margin-top: 10px;
        border-radius: 999px;
    }
    .bloc-icones-competences {
        width: 100%;
        padding: 0px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 30px;
        gap: 30px 30px;
        .carte-competence {
            width: 110px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 20px 10px;
            border-radius: 30px;
            cursor: pointer;
            &:hover {
                width: 150px;
            }
            i {
                font-size: 60px;
            }
            img {
                width: 60px;
                height: 60px;
            }
        }
        .html {
            color: #a32d1e;
            background-color: #ff1e002a;
            &:hover {
                box-shadow: -2px -2px 50px #a32d1e;
                i {
                    font-size: 100px;
                }
            }
        }
        .css {
            color: #005ae0;
            background-color: #0066ff44;
            &:hover {
                box-shadow: -2px -2px 50px #005ae0;
                i {
                    font-size: 100px;
                }
            }
        }
        .sass {
            color: #a35353;
            background-color: #ff00003f;
            &:hover {
                box-shadow: -2px -2px 50px #a35353;
                i {
                    font-size: 100px;
                }
            }
        }
        .js {
            color: #8d7f00;
            background-color: #ffe60254;
            &:hover {
                box-shadow: -2px -2px 50px #8d7f00;
                i {
                    font-size: 100px;
                }
            }
        }
        .react {
            color: rgb(73, 187, 231);
            background-color: rgba(0, 183, 255, 0.26);
            &:hover {
                box-shadow: -2px -2px 50px rgb(73, 187, 231);
                i {
                    font-size: 100px;
                }
            }
        }
        .node {
            color: #00740a;
            background-color: #00ff1542;
            &:hover {
                box-shadow: -2px -2px 50px #00740a;
                i {
                    font-size: 100px;
                }
            }
        }
        .mongodb {
            color: #04a711;
            background-color: #04ff193f;
            &:hover {
                box-shadow: -2px -2px 50px #04a711;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .lighthouse {
            color: #a32d1e;
            background-color: #ff1e0048;
            &:hover {
                box-shadow: -2px -2px 50px #a32d1e;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .notion{
            color: black;
            background-color: rgba(0, 0, 0, 0.192);
            &:hover {
                box-shadow: -2px -2px 50px black;
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    @media (max-width: 1175px) {
        .bloc-icones-competences {
            padding: 0px 25px;
        }
    }

    @media (max-width: 725px) {
        h2 {
            font-size: 25px;
        }
        .ligne {
            height: 2px;
            width: 35px;
            margin-bottom: 30px;
            margin-top: 5px;
        }
        .bloc-icones-competences {
            justify-content: center;
            gap: 30px 20px;
            .carte-competence {
                width: 70px;
                padding: 15px 10px;
                border-radius: 20px;
                &:hover {
                    width: 100px;
                }
                i {
                    font-size: 30px;
                }
                img {
                    width: 30px;
                    height: 30px;
                }
                p {
                    font-size: 10px;
                }
            }
            .html {
                &:hover {
                    box-shadow: -1px -1px 25px #a32d1e;
                    i {
                        font-size: 50px;
                    }
                }
            }
            .css {
                &:hover {
                    box-shadow: -1px -1px 25px #005ae0;
                    i {
                        font-size: 50px;
                    }
                }
            }
            .sass {
                &:hover {
                    box-shadow: -1px -1px 25px #a35353;
                    i {
                        font-size: 50px;
                    }
                }
            }
            .js {
                &:hover {
                    box-shadow: -1px -1px 25px #8d7f00;
                    i {
                        font-size: 50px;
                    }
                }
            }
            .react {
                &:hover {
                    box-shadow: -1px -1px 25px rgb(73, 187, 231);
                    i {
                        font-size: 50px;
                    }
                }
            }
            .node {
                &:hover {
                    box-shadow: -1px -1px 25px #00740a;
                    i {
                        font-size: 50px;
                    }
                }
            }
            .mongodb {
                &:hover {
                    box-shadow: -1px -1px 25px #04a711;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .lighthouse {
                &:hover {
                    box-shadow: -1px -1px 25px #a32d1e;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .notion{
                &:hover {
                    box-shadow: -1px -1px 25px black;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

.visible-competences {
    opacity: 1;
}
.carte-competence.visible-competences, .title-skills.visible-competences, .ligne-skills.visible-competences {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s cubic-bezier(0.5, 0, 0, 1);
}

.title-skills, .ligne-skills, .carte-competence {
    opacity: 0;
    transform: translateY(30px);
}

.ligne.visible-competences{
    transition-delay: 0.5s;
}

.carte-competence.html.visible-competences {
    transition-delay: 0.6s;
    transition-property: opacity transform;
}
.carte-competence.css.visible-competences {
    transition-delay: 0.7s;
    transition-property: opacity transform;
}
.carte-competence.sass.visible-competences {
    transition-delay: 0.8s;
    transition-property: opacity transform;
}
.carte-competence.js.visible-competences {
    transition-delay: 0.9s;
    transition-property: opacity transform;
}
.carte-competence.react.visible-competences {
    transition-delay: 1s;
    transition-property: opacity transform;
}
.carte-competence.node.visible-competences {
    transition-delay: 1.1s;
    transition-property: opacity transform;
}
.carte-competence.mongodb.visible-competences {
    transition-delay: 1.2s;
    transition-property: opacity transform;
}
.carte-competence.lighthouse.visible-competences {
    transition-delay: 1.3s;
    transition-property: opacity transform;
}
.carte-competence.notion.visible-competences {
    transition-delay: 1.4s;
    transition-property: opacity transform;
}