@import '_mixins.scss';
@import '_home.scss';
@import '_header.scss';
@import '_presentation.scss';
@import '_about.scss';
@import '_skills.scss';
@import '_contact.scss';
@import '_footer.scss';
@import '_projets.scss';
@import '_cardProjet.scss';
@import '_caroussel.scss';
@import '_projet.scss';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    font-family: "Geologica", sans-serif;
  }
